#main {
  min-height: 88vh;
  background-color: #fff7e8;
}

#main-tabs {
  height: 100%;
  max-height: max-content;
  overflow: hidden;

}

ul[role="tablist"] {
  padding: 1.25rem 1.25rem 0 1.25rem;
  justify-content: center;
  background-color: #FF7E81;
  & li{
    font-size: 1.125rem;
    & .nav-link {
      color: black;
    }
    & button {
      font-weight: 600;
      padding-top: 1rem;
      padding-bottom: 1rem;
      
    }
  }
}

.tab-content{
  padding: 32px !important;
  background-color: white;
}