#head {
  background-color: #FFBC6D;
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
  img {
    height: 52px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  position: relative;
  z-index: 1;
}